################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mediaplayer_tutorial/.vs/mediaplayer_tutorial.slnx/v18
