################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mediaplayer_tutorial/.vs/mediaplayer_tutorial.slnx/v18
/Tutorial001_ffmpeg_decode/.vs
/Tutorial001_ffmpeg_decode/Tutorial001_ffmpeg_decode/bin
/Tutorial001_ffmpeg_decode/Tutorial001_ffmpeg_decode/obj
/Tutorial001_ffmpeg_decode.zip
/Tutorial001_mediaplayer/.vs
/Tutorial001_mediaplayer/Tutorial001_ffmpeg_decode/bin
/Tutorial001_mediaplayer/Tutorial001_ffmpeg_decode/obj
/Tutorial001_mediaplayer/Tutorial_ffmpeg_decode_audio_play/bin/Debug/net10.0
/Tutorial001_mediaplayer/Tutorial_ffmpeg_decode_audio_play/bin/Release/net10.0
/Tutorial001_mediaplayer/Tutorial_ffmpeg_decode_audio_play/obj
